<html>
    <head>  
        <title>AngularJS Filter Example</title>  
    </head>
    <body ng-app="myApp" class="ng-cloak">
        <div ng-controller="AppController as ctrl">
            <label>
                <input type="radio" ng-model="ctrl.filterOption" value="string">String</label>
                <input type="radio" ng-model="ctrl.filterOption" value="object">Object
                <input type="radio" ng-model="ctrl.filterOption" value="function">Function
            </label><br/>
            <div ng-if="ctrl.filterOption==='string'">
                <label>Search: <input ng-model="ctrl.searchText"></label>
                <label>Exact Match <input type="checkbox" ng-model="ctrl.exactMatch"></label><br>
                <table id="searchTextResults">
                    <tr>
                        <th>Name</th><th>Sport</th><th>Age</th><th>Retired</th>
                    </tr>
                    <tr ng-repeat="player in ctrl.players | filter:ctrl.searchText:ctrl.exactMatch">
                        <td>{{player.name}}</td>
                        <td>{{player.sport}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.retired}}</td>
                    </tr>
                </table>
            </div>
            <div ng-if="ctrl.filterOption==='object'">
                <table id="searchTextResults">
                    <tr>
                        <th>Name</th><th>Sport</th><th>Age</th><th>Retired</th>
                    </tr>
                    <tr ng-repeat="player in ctrl.players | filter:ctrl.obj">
                        <td>{{player.name}}</td>
                        <td>{{player.sport}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.retired}}</td>
                    </tr>
                </table>
            </div>
            <div ng-if="ctrl.filterOption==='function'">
                <table id="searchTextResults">
                    <tr>
                        <th>Name</th><th>Sport</th><th>Age</th><th>Retired</th>
                    </tr>
                    <tr ng-repeat="player in ctrl.players | filter:ctrl.fun">
                        <td>{{player.name}}</td>
                        <td>{{player.sport}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.retired}}</td>
                    </tr>
                </table>
            </div>
        </div>      
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
        </script>
        <script type="text/javascript">
            angular.module('myApp', [])
            .controller('AppController', [function() {
                var self = this;
                self.players = [
                    {name: 'Shaun Pollock'  , sport: 'cricket'   , age: 45, retired: true},
                    {name: 'Roger Federer'  , sport: 'tennis'    , age: 34, retired: false},
                    {name: 'Usain Bolt'     , sport: 'sprint'    , age: 32, retired: false},
                    {name: 'Maria Sharapova', sport: 'tennis'    , age: 29, retired: false},
                    {name: 'Jonty Rhodes'   , sport: 'cricket'   , age: 37, retired: true},
                    {name: 'Andre Agasi'    , sport: 'tennis'    , age: 42, retired: true},
                    {name: 'The Undertaker' , sport: 'wrestling' , age: 49, retired: false},
                    {name: 'Goldberg'       , sport: 'wrestling' , age: 47, retired: true},
                    {name: 'Schumacker'     , sport: 'formula1'  , age: 45, retired: true},
                    {name: 'Justin Henin'   , sport: 'tennis'    , age: 41, retired: true}
                ];
                self.filterOption='string';
                self.searchText='';
                self.exactMatch = false;
                self.obj={sport: 'tennis', retired:false};
                self.fun = function(player) {
                    return player.sport === 'tennis' && player.retired === true;
                }
            }]);
        </script>
    </body>
</html>