<html>
    <head>  
        <title>AngularJS Filter Example</title>  
    </head>
    <body ng-app="myApp" class="ng-cloak">
        <div ng-controller="AppController as ctrl">
            <h4>Custom Filter Example</h4>
            Initial value : {{ctrl.samplestr}}
            <br/>
            Filtered Value in UpperCases : {{ctrl.samplestr | convertToUppercase}}
        </div>      
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
        </script>
        <script type="text/javascript">
            angular.module('myApp', [])
            .controller('AppController', [function() {
                var self = this;
                self.samplestr = "webSystique";
                }]
            ).filter('convertToUppercase', [function () {
                return function (str) {
                    return str.toUpperCase();
                };
            }]);
        </script>
    </body>
</html>