<html>
    <head>  
        <title>AngularJS Filter Example</title>  
    </head>
    <body ng-app="myApp" class="ng-cloak">
        <div ng-controller="AppController as ctrl">
            <h4>Filter With String</h4>
            <div>
                <table>
                    <tr>
                        <th>Name</th><th>Sport</th><th>Age</th><th>Retired</th>
                    </tr>
                    <tr ng-repeat="player in ctrl.filterdPlayersWithString">
                        <td>{{player.name}}</td>
                        <td>{{player.sport}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.retired}}</td>
                    </tr>
                </table>
            </div>
            <h4>Filter With Object</h4>
            <div>
                <table>
                    <tr>
                        <th>Name</th><th>Sport</th><th>Age</th><th>Retired</th>
                    </tr>
                    <tr ng-repeat="player in ctrl.filterdPlayersWithObject">
                        <td>{{player.name}}</td>
                        <td>{{player.sport}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.retired}}</td>
                    </tr>
                </table>
            </div>
            <h4>Filter With Function</h4>
            <div>
                <table>
                    <tr>
                        <th>Name</th><th>Sport</th><th>Age</th><th>Retired</th>
                    </tr>
                    <tr ng-repeat="player in ctrl.filterdPlayersWithFunction">
                        <td>{{player.name}}</td>
                        <td>{{player.sport}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.retired}}</td>
                    </tr>
                </table>
            </div>
        </div>      
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
        </script>
        <script type="text/javascript">
            angular.module('myApp', [])
            .controller('AppController', ['filterFilter', function(filterFilter) {
                var self = this;
                self.players = [
                    {name: 'Shaun Pollock'  , sport: 'cricket'   , age: 45, retired: true},
                    {name: 'Roger Federer'  , sport: 'tennis'    , age: 34, retired: false},
                    {name: 'Usain Bolt'     , sport: 'sprint'    , age: 32, retired: false},
                    {name: 'Maria Sharapova', sport: 'tennis'    , age: 29, retired: false},
                    {name: 'Jonty Rhodes'   , sport: 'cricket'   , age: 37, retired: true},
                    {name: 'Andre Agasi'    , sport: 'tennis'    , age: 42, retired: true},
                    {name: 'The Undertaker' , sport: 'wrestling' , age: 49, retired: false},
                    {name: 'Goldberg'       , sport: 'wrestling' , age: 47, retired: true},
                    {name: 'Schumacker'     , sport: 'formula1'  , age: 45, retired: true},
                    {name: 'Justin Henin'   , sport: 'tennis'    , age: 41, retired: true}
                ];
                self.searchText='cri';
                self.exactMatch = false;
                self.obj={sport: 'tennis', retired:false};
                self.fun = function(player) {
                    return player.sport === 'tennis' && player.retired === true;
                }
                self.filterdPlayersWithString = filterFilter(self.players,self.searchText,self.exactMatch);
                self.filterdPlayersWithObject = filterFilter(self.players,self.obj);
                self.filterdPlayersWithFunction = filterFilter(self.players,self.fun);
                 
            }]);
        </script>
    </body>
</html>