<html>
    <head>  
        <title>AngularJS Filter Example</title>  
    </head>
    <body ng-app="myApp" class="ng-cloak">
        <div ng-controller="AppController as ctrl">
            <div>
                Name : {{ctrl.name | limitTo:3}}
            </div>
            <div>
                Name : {{ctrl.name | limitTo:3:2}}
            </div>
            <div>
                Name : {{ctrl.name | limitTo:-2}}
            </div>
            <div>
                Items: {{ctrl.items | limitTo:5}}
            </div>
            <div>
                Items: {{ctrl.items | limitTo:5:2}}
            </div>
            <div>
                Items From Reverse: {{ctrl.items | limitTo:-2}}
            </div>
 
        </div>      
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
        </script>
        <script type="text/javascript">
            angular.module('myApp', [])
            .controller('AppController', [function() {
                var self = this;
                self.name = "Shaun Pollock"
                self.items = [10,20,30,40,50,60,70,80,90,100];
            }]);
        </script>
    </body>
</html>