<html>
    <head>  
        <title>AngularJS Filter Example</title>  
    </head>
    <body ng-app="myApp" class="ng-cloak">
        <div ng-controller="AppController as ctrl">
            <table class="players">
            <tr>
              <th>Name</th>
              <th>Matches</th>
              <th>Averagee</th>
            </tr>
            <tr ng-repeat="player in ctrl.sortedPlayers">
              <td>{{player.name}}</td>
              <td>{{player.matches}}</td>
              <td>{{player.avg}}</td>
            </tr>
          </table>
        </div>      
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
        </script>
        <script type="text/javascript">
            angular.module('myApp', [])
            .controller('AppController', ['orderByFilter',function(orderByFilter) {
                var self = this;
                self.players=
                 [{name:'Shaun Pollock',  matches:'400', avg:60},
                  {name:'Lance Klusner',  matches:'210', avg:87},
                  {name:'Alan Donald',    matches:'450', avg:21},
                  {name:'Gary Kirsten',   matches:'370', avg:66},
                  {name:'Harschel Gibbs', matches:'420', avg:77}];
                self.sortedPlayers = orderByFilter(self.players, '-avg');
            }]);
        </script>
    </body>
</html>