<html ng-app>
    <head>
        <title>Hello World</title>
    </head>
     
    <body>
        <label>Name :</label><input type="text" ng-model="name" placeholder="Enter your name"/>
        <h1>Hello <span ng-bind="name"></span></h1>
        <h1>Hey {{name}}</h1>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js">
        </script>
        <script>
            angular.module('myApp', [])
            .controller('AppController', [function() {
                var self= this;
                self.name = 'BLA BLA';
            }]);    
        </script>
    </body>
</html>