<html>
	<head>  
		<title>Directive Demo</title>  
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body class="jumbotron container" ng-app="myApp">
      
		<div ng-controller="AppController as ctrl">
			<h3>List of Sale Items</h3>
			<div ng-repeat="item in ctrl.items">
				<div item-widget></div>
			</div>
		</div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
      </script>  
      <script>
			angular.module('myApp', [])
			.controller('AppController', [function() {
              var self = this;
			  self.items = [
							{name: 'Computer', price: 500, condition:'New',brand : 'Lenovo', published:'01/11/2015'},
							{name: 'Phone', price: 200, condition:'New',brand : 'Samsung', published:'02/11/2015'},
							{name: 'Printer', price: 300, condition:'New',brand : 'Brother', published:'06/11/2015'},
							{name: 'Dishwasher', price: 250, condition:'Second-Hand',brand : 'WhirlPool', published:'01/12/2015'},
							];
			}])
			.directive('itemWidget', [function() {
				return{
					template:'<div class="panel panel-default">'+
									'<div class="panel-heading">'+
										'Published at:<span ng-bind="item.published | date"></span>'+
									'</div>'+
									'<div class="panel-body">'+
											'Name:<span ng-bind="item.name"></span>'+
											'Condition:<span ng-bind="item.condition"></span>'+
											'Price:<span ng-bind="item.price | currency"></span>'+
											'Brand:<span ng-bind="item.brand"></span>'+
									'</div>'+
								'</div>'
				}
			}]);
  </script>
  </body>
</html>