<html>
	<head>  
		<title>Directive Demo</title>  
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body class="jumbotron container" ng-app="myApp">
		<div ng-controller="AppController as ctrl">
			<shopping-widget><!--Acting as parent container-->
				<div class="panel panel-success">
					<div class="panel-heading">
						Popular Items on Sale.
					</div>
					<div class="panel-body">
						<div ng-repeat="bla in ctrl.items">
							<item-widget item="bla" promo="Christmas-Sale" on-select="ctrl.onItemSelect(selectedItem)">
								Last item left. Hurry up. 
							</item-widget>
						</div>
					</div>
				</div>
			</shopping-widget>
		</div>
      
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
		</script>  
		<script>
			angular.module('myApp', [])
			.controller('AppController', [function() {
				var self = this;
				self.items = [
							{name: 'Computer', price: 500, condition:'New',brand : 'Lenovo', published:'01/11/2015'},
							{name: 'Phone', price: 200, condition:'New',brand : 'Samsung', published:'02/11/2015'},
							{name: 'Printer', price: 300, condition:'New',brand : 'Brother', published:'06/11/2015'},
							{name: 'Dishwasher', price: 250, condition:'Second-Hand',brand : 'WhirlPool', published:'01/12/2015'},
							];
				self.onItemSelect = function(name) {
					console.log('Congrats. You have just bought a', name);
				};							
			}])
			.directive('shoppingWidget', [function() {
				return{
					restrict: 'E',
					transclude: true,
					templateUrl:'shopDetails.html',
					scope: true,//Define a new Scope for this directive so that local variables don’t override anything in the parent scope.
					controller: ['$scope', function($scope) {//$scope refers to scope of this perticular directive instance.
						$scope.cart = [];//Now cart can be accessed as 'cart' in directive's template.
						var self = this;	
						self.addItemToCart = function(item) {//This function can be accessed by child or sibling controllers.
						//This function will not be accessible from directive's template as it is not defined on scope.
							$scope.cart.push(item);
						};
					}]
				}
			}])
			.directive('itemWidget', [function() {
				return{
					restrict: 'E',
					replace:true,
					transclude:true,
					require : '^shoppingWidget',
					scope: {
						item: '=',
						promo: '@',
						pickMe : '&onSelect'
					},
    				templateUrl: 'shopItem.html',
					link : function(scope, element, attrs, cartCtrl){
					    //Add event listener for 'click' event					
						element.on('click', function(event) {
						
								element.html('Thanks for buying this item.');
								element.css({
									color: 'green'
								});
								cartCtrl.addItemToCart(scope.item);//Add item to Shopping Cart.
								scope.$apply();
						  });
					}
				}
			}]);
		</script>
	</body>
</html>