<div>
	<!--Display Shopping Cart -->
	<div class="panel panel-success">
		<div class="panel-heading">
			Your Shopping Cart.
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item" ng-show="cart.length > 0">
					Total Items
					<span class="badge">{{cart.length}}</span>
				</li>
				<li class="list-group-item" ng-hide="cart.length > 0">
					Your cart is Empty.
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="item in cart">
					{{item.name}} with Price {{item.price | currency}}. 
				</li>
			</ul>
		</div>
	</div>
	<!--Include Items on sale -->
	<div ng-transclude></div>
</div>
